{{define "header"}}
<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/assets/main.css">
    </head>
    <body>
    	<nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo"></a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="sass.html">Sass</a></li>
		        <li><a href="components.html">Components</a></li>
		        <li><a href="javascript.html">JavaScript</a></li>
		      </ul>
		    </div>
		  </nav>
{{end}}


{{define "footer"}}
    </body>
</html>
{{end}}