{{define "body"}}
{{template "header"}}

<ul class="collection with-header">
	<li class="collection-header">Top creditors</li>
	
	<li class="collection-item">
		<div>
			Max
			<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a>
		</div>
	</li>
	
	<li class="collection-item">
		<div>
			John
			<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a>
		</div>
	</li>

	<li class="collection-item">
		<div>
			Frank
			<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a>
		</div>
	</li>
</ul>

{{template "footer"}}
{{end}}
