{{define "body"}}
{{template "header"}}

<ul class="collection with-header">
	<li class="collection-header">Top creditors</li>
	
	<li class="collection-item avatar waves-effect">
		<a href="#!">
			<img src="http://lorempixel.com/output/people-q-c-200-200-3.jpg" alt="" class="circle">
			<span class="title">John</span>
			<p>Rooftop in Ghana</p>
			<i class="mdi-content-send secondary-content"></i>
		</a>
    </li>

	<li class="collection-item avatar waves-effect">
		<a href="#!">
			<img src="http://lorempixel.com/output/people-q-c-200-200-7.jpg" alt="" class="circle">
			<span class="title">Aisha</span>
			<p>Corn Field in Namibia</p>
			<i class="mdi-content-send secondary-content"></i>
		</a>
    </li>

	<li class="collection-item avatar waves-effect">
		<a href="#!">
			<img src="http://lorempixel.com/output/people-q-c-200-200-4.jpg" alt="" class="circle">
			<span class="title">Family Doe</span>
			<p>Build a house in South Africa</p>
			<i class="mdi-content-send secondary-content"></i>
		</a>
    </li>
</ul>

{{template "footer"}}
{{end}}
