{{define "body"}}
{{template "header"}}

<ul class="collection with-header">
	<li class="collection-header"><h4>Top creditors</h4></li>
	<li class="collection-item"><div>Max<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></div></li>
	<li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></div></li>
	<li class="collection-item"><div>Alan<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></div></li>
</ul>

{{template "footer"}}
{{end}}
