{{define "header"}}
<!DOCTYPE HTML>
<html>
    <head>
    	<title>Purple Leaf - Burda Hackday #3</title>
    	<meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">
					<span></span>
				</a>
				<ul class="right">
					<li><a href='#' class="dropdown-button" data-activates='dropdown1'><i class="mdi-navigation-more-vert"></i></a></li>
				</ul>
				 <!-- Dropdown Structure -->
				  <ul id='dropdown1' class='dropdown-content'>
				  	<li><a href="#!">Profile</a></li>
				  	<li><a href="#!">Project</a></li>
				  	<li class="divider"></li>
				    <li><a href="#!">Login</a></li>
				  </ul>
				        
			</div>
		</nav>
{{end}}


{{define "footer"}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/js/materialize.js"></script>
    </body>
</html>
{{end}}