{{define "body"}}
{{template "header"}}

<ul class="collection with-header">
	<li class="collection-header">Top creditors</li>
    {{range $profile := .profiles}}
        <li class="collection-item avatar waves-effect">
        <a href="/profile/{{escape $profile.Name}}">
                <img src="{{$profile.ProfilePic}}" alt="{{$profile.Name}}" class="circle">
                <span class="title">{{$profile.Name}}</span>
                <p>Rooftop in Ghana</p>
                <i class="mdi-content-send secondary-content"></i>
            </a>
        </li>
    {{end}}
</ul>

<ul class="collection with-header">
	<li class="collection-header">Top projects</li>
    {{range $project := .projects}}
        <li class="collection-item avatar waves-effect">
        <a href="/project/{{escape $project.Name}}">
            <img src="{{$project.ImageURL}}" alt="{{$project.Name}}" class="circle">
            <span class="title">{{$project.Name}}</span>
                <div class="progress">
                    <div class="determinate" style="width: 92%">
                        <span>69 $ to go</span>
                    </div>
                </div>
                <i class="mdi-content-send secondary-content"></i>
            </a>
        </li>
    {{end}}
</ul>

{{template "footer"}}
{{end}}
