{{define "body"}}
{{template "header" .login}}

<div class="userbox">
	<div class="userbox__wallpaper">
        <img src="{{.profile.Wallpaper}}" alt="Wallpaper"/>
	</div>
	<div class="userbox__avatar">
        <img src="{{.profile.ProfilePic}}" alt="{{.profile.Name}}" class="circle">
	</div>	
	<div class="userbox__name">
        {{.profile.Name}}
        {{if .profile.Creditor}}
		    <span class="badge purple darken-4">Investor</span>
        {{else}}
            <span class="badge purple darken-4">Funder</span>
        {{end}}
	</div>	
	<div class="userbox__bio">
	    {{.profile.Bio}}
    </div>	
</div>	

 <div class="row">

    <div class="col s12">
      <ul class="tabs">
        {{if .profile.Creditor}}
            <li class="tab col s3"><a href="#awards">Awards</a></li>
            <li class="tab col s3"><a href="#supported-projects">Supported Projects</a></li>
        </ul>
        </div>

        <div id="awards" class="col s12">
    	    <div class="row badge-grid">
                {{range $badge := .badges}}
                    <div class="col s3">
                        <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="{{$badge.Tooltip}}">
                            <img src="{{$badge.Image}}" title="{{$badge.Type}}" />
	    		        </a>
    		        </div>
                {{end}}
    	    </div>	
        </div>

        <div id="supported-projects" class="col s12">
    	    <ul class="collection with-header">
            {{range $project := .projects}}
			    <li class="collection-item avatar waves-effect">
				    <a href="#!">
                        <img src="{{$project.ImageURL}}" alt="{{$project.Name}}" class="circle">
                        <span class="title">{{$project.Name}}</span>
					    <div class="progress">
                            <div class="determinate" style="width: {{$project.Percentage}}%">
                                {{if eq $project.Percentage 100}}
							        <span>Project realized!</span>
                                {{else}}
                                    <span>{{$project.ToGo}}$ to go</span>
                                {{end}}
						    </div>
					    </div>
					    <i class="mdi-content-send secondary-content"></i>
				    </a>
		        </li>
            {{end}}
		    </ul>
        </div>
    {{else}} 
        <p>Projects:</p>
        {{range $project := .projects}}
            <a href="">This one</a>
        {{end}}
    {{end}}
</div>	



{{template "footer"}}
{{end}}
