{{define "body"}}
{{template "header" .login}}

<div class="userbox">
	<div class="userbox__wallpaper">
		<img src="http://lorempixel.com/output/city-q-c-400-225-4.jpg" />
	</div>
	<div class="userbox__avatar">
		<img src="http://lorempixel.com/output/people-q-c-200-200-3.jpg" alt="" class="circle">
	</div>	
	<div class="userbox__name">
		Umar Halitnov
		<span class="badge purple darken-4">Funder</span>
	</div>	
	<div class="userbox__bio">
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
	</div>	
</div>	

 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#awards">Awards</a></li>
        <li class="tab col s3"><a href="#supported-projects">Supported Projects</a></li>
      </ul>
    </div>
    <div id="awards" class="col s12">
    	<div class="row badge-grid">
    		<div class="col s3">
    			<a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Umar has 20% at Health">
	    			<img src="/assets/img/health20.png" title="Health" />
	    		</a>
    		</div>
    		<div class="col s3">
    			<a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Umar has 5% at Agrar">
    				<img src="/assets/img/ag5.png" title="Agrar" />
    			</a>	
    		</div>
    		<div class="col s3">
    			<a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Umar has full 100% at Education">
    				<img src="/assets/img/edu100.png" title="Education" />
    			</a>
    		</div>
    		<div class="col s3">
    			<a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Umar has 50% at Retail">
    				<img src="/assets/img/trade50.png" title="Shopping" />
    			</a>
    		</div>
    	</div>	
    </div>
    <div id="supported-projects" class="col s12">

    	<ul class="collection with-header">
	
			<li class="collection-item avatar waves-effect">
				<a href="#!">
					<img src="http://lorempixel.com/output/people-q-c-200-200-3.jpg" alt="" class="circle">
					<span class="title">Rooftop in Ghana</span>
					<div class="progress">
						<div class="determinate" style="width: 100%">
							<span>Project realized!</span>
						</div>
					</div>
					<i class="mdi-content-send secondary-content"></i>
				</a>
		    </li>

			<li class="collection-item avatar waves-effect">
				<a href="#!">
					<img src="http://lorempixel.com/output/people-q-c-200-200-7.jpg" alt="" class="circle">
					<span class="title">Corn Field in Namimbia</span>
					<div class="progress">
						<div class="determinate" style="width: 84%">
							<span>213 $ to go</span>
						</div>
					</div>
					<i class="mdi-content-send secondary-content"></i>
				</a>
		    </li>

			<li class="collection-item avatar waves-effect">
				<a href="#!">
					<img src="http://lorempixel.com/output/people-q-c-200-200-4.jpg" alt="" class="circle">
					<span class="title">Build a house in South Africa</span>
					<div class="progress">
						<div class="determinate" style="width: 62%">
							<span>492 $ to go</span>
						</div>
					</div>
					<i class="mdi-content-send secondary-content"></i>
				</a>
		    </li>
		</ul>

    </div>
</div>	



{{template "footer"}}
{{end}}
