{{define "body"}}
{{template "header" .login}}

<div class="userbox">
	<div class="userbox__wallpaper">
        <img src="{{.project.WallpaperURL}}" alt="Wallpaper" />
	</div>
	<div class="userbox__avatar">
        <img src="{{.project.ImageURL}}" alt="{{.project.Name}}" class="circle">
	</div>	
	<div class="userbox__name">
        {{.project.Name}}
	</div>	
	<div class="userbox__bio">
	    {{.project.Description}}
    </div>
        
</div>	

<div class="row cta-container">
	<div class="col s12 center">
		<a href="?action=invest" class="button purple darken-4 waves-effect waves-light btn">Make invest!</a>
	</div>
</div>

    <p>Investors:</p>

        <ul class="collection with-header">
    {{range $profile := .profiles}}
        <li class="collection-item avatar waves-effect">
            <a href="/profile/{{escape $profile.Name}}">
                <img src="{{$profile.ProfilePic}}" alt="{{$profile.Name}}" class="circle">
                <span class="title">{{$profile.Name}}</span>
                <p></p>
                <i class="mdi-content-send secondary-content"></i>
            </a>
        </li>
    {{end}}
        </ul>


{{template "footer"}}
{{end}}
